Repository kaymccormick/WpfApp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1-exo.yml, azure-pipelines.yml

azure-pipelines-1-exo.yml:
  pool:
    name: exo
    workspace:
      clean: outputs | resources | all
  steps:
  - checkout: self
    submodules: recursive
    persistCredentials: true
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      command: restore
      restoreSolution: '*/*.csproj'
      feedsToUse: select
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
    workspace:
      clean: outputs | resources | all
  steps:
  - checkout: self
    submodules: recursive
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: VSBuild@1
    inputs:
      solution: $(solution)
  ...

demand serviceaccount
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

remove clean
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

add artifact task
  azure-pipelines-exo.yml
Due: none

update project paths
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

update project path
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

update source paths for docs
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

fix docs
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

update defaultgit push
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

add dlls
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

test
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

fix installer path
  azure-pipelines-exo.yml
Due: none

project
  SetupProject1/Include1.wxi
  SetupProject1/Product.wxs
  WpfApp.sln
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

various
  SetupProject1/Include1.wxi
  SetupProject1/Product.wxs
  SetupProject1/SetupProject1.wixproj
  WpfApp.sln
  WpfApp/Application/App.xaml.cs
  azure-pipelines-exo.yml
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

udpate
  WpfApp/WpfApp.csproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

fixes
  SetupProject1/SetupProject1.wixproj
  WpfApp/Properties/AssemblyInfo.cs
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

more fixes
  WpfApp/Properties/AssemblyInfo.cs
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

fixes
  msbuild.log
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

fixes
  .gitignore
  SetupProject1/SetupProject1.wixproj
  Tests/Main/AppTests.cs
  WpfApp/Properties/AssemblyInfo.cs
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

attempt fix
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

change path
  azure-pipelines-exo.yml
Due: none

fixups
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

fix path
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

Update azure-pipelines-exo.yml for Azure Pipelines
  azure-pipelines-exo.yml
Due: none

Update azure-pipelines-1-exo.yml for Azure Pipelines
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

update
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

disable
  Tests/Main/Converters/TestConverterEnumeration.cs
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

disable
  Tests/Main/Utils/TestsProxyUtils.cs
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

update docs config
  Docs/Docs.shfbproj
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

various
  .gitmodules
  WpfApp/App.config
  WpfApp/Properties/AssemblyInfo.cs
Due: azure-pipelines-1-exo.yml, azure-pipelines.yml

disable clean
  azure-pipelines-exo.yml
Due: none

disable clean
  azure-pipelines.yml
Due: azure-pipelines.yml

match exo build
  azure-pipelines-1.yml
Due: none

archive publish
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

fix args
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

remove outdated tasks
  azure-pipelines-1-exo.yml
Due: azure-pipelines-1-exo.yml

Path conditions:
  azure-pipelines-1-exo.yml: any of: *, but not: azure-pipelines-1.yml, azure-pipelines-exo.yml, azure-pipelines.yml
  azure-pipelines.yml: any of: *, but not: azure-pipelines-1.yml, azure-pipelines-exo.yml, azure-pipelines-1-exo.yml
